<p>clothing works!</p>


<h2>String Interpolation</h2>

<hr>
<h3>firstName: {{this.firstName}}</h3>
<h3>lastName: {{this.lastName}}</h3>
<h3>fullName: {{this.fullName}}</h3>
<h3>fullName1: {{this.getFullName1()}}</h3>
<h3>fullName2: {{this.getFullName2()}}</h3>
<h3>fullName3: {{this.getFullName3()}}</h3>
<h3>Number1: {{this.number1}}</h3>
<h3>Number2: {{this.number2}}</h3>
<h3>TotalAmount: {{this.totalAmount}}</h3>
<h3>TotalAmount1: {{this.getTotalAmount1()}}</h3>
<h3>TotalAmount2: {{this.getTotalAmount2()}}</h3>
<h3>TotalAMount3: {{this.getTotalAmount3()}}</h3>

